<ion-content>
  <app-header></app-header>
  <app-side-nav (_selectedTab)="sideNavSelectedTab($event)"></app-side-nav>
  <div class="title">
    <ion-title style="color: #083A81" (click)="openAlertModal()" class="hov-label">{{selectedTabTitle}}</ion-title>
    <div class="dash-title">
      <ion-buttons>
        <ion-button fill="clear">
          <ion-icon name="open-outline" class="tab-right-icon"></ion-icon>
          <span class="tab-right-text">Open Fiori App</span>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="build-outline" class="tab-right-icon"></ion-icon>
          <span class="tab-right-text">Dashboard Customize</span>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="pulse-outline" class="tab-right-icon"></ion-icon>
          <span class="tab-right-text">Activities</span>
        </ion-button>
      </ion-buttons>
    </div>
    <ion-card style="width: 95%;height: 340px;margin-top:3%">
      <ion-card-header>
        <ion-card-subtitle class="dash-cont-title">Project Status Tracker
          <span class="con-icons">
            <ion-icon name="book-outline" class="con-icons-align"></ion-icon>
            <ion-icon name="reader-outline" class="con-icons-align"></ion-icon>
            <ion-icon name="search-outline" class="con-icons-align"></ion-icon>
          </span>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>