<ion-content fullscreen="true" no-bounce>
  <app-header></app-header>
  <app-side-nav (_selectedTab)="sideNavSelectedTab($event)"></app-side-nav>
  <div class="title">
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-title (click)="openAlertModal()" class="hov-label">{{selectedTabTitle}}</ion-title>
        </ion-col>
        <ion-col size="7" style="text-align: end;" class="hov-label">
          <span> <img src="../../../assets/images/Open Fiori.svg" class="source"><label class="con-style">Open Fiori
              App</label></span>
          <span (click)="openDashboardCustomization(true)"><img src="../../../assets/images/dashboard_customize.svg"
              class="source"><label class="con-style">Dashboard
              Customize</label></span>
          <span><img src="../../../assets/images/Activities.svg" class="source"><label
              class="con-style">Activities</label></span>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card *ngIf="selectedTabTitle == 'DashBoard'">
      <ion-card-header>
        <ion-card-subtitle class="dash-cont-title">Project Status Tracker
          <span class="con-icons">
            <img src="../../../assets/images/Excel.png" class="con-icons-align">
            <img src="../../../assets/images/Box.png" class="con-icons-align">
            <img src="../../../assets/images/Search.svg" class="con-icons-sea">
          </span>
        </ion-card-subtitle>
      </ion-card-header>
      <div class="view">
        <div class="wrapper">
          <table class="table">
            <thead>
              <tr>
                <th class="sticky-col first-col" style="margin-left: 5px;">Project ID</th>
                <th>Customer Name <img (click)='sortData(projectLists)' src="/assets/images/Sorting.svg" /></th>
                <th>Account Name</th>
                <th>Project<br>Manager Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Number <br>of Machines</th>
                <th>Regions</th>
                <th>Time(in hours)<br>Actual vs Planned</th>
                <th>Revenue(in $)<br>Actual vs Planned</th>
                <th>Cost(in $)<br>Actual vs Planned</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projectLists">
                <td class="sticky-col first-col" style="color: #083A81; font-weight: bold;cursor: pointer">
                  {{project.project_id}}</td>
                <td>{{project.customer_name}}</td>
                <td>{{project.Account_name}}</td>
                <td>{{project.Project_managers_name}}</td>
                <td>{{project.Start_dt | date : 'shortDate'}}</td>
                <td>{{project.End_dt | date : 'shortDate'}}</td>
                <td>{{project.Num_machines}}</td>
                <td>{{project.Region}}</td>
                <td style="position: relative;"><progress value={{project.Time_hours}} max="100"></progress> <label
                    class="tooltip">
                    {{project.Time_hours}}% <input type="checkbox"><span>Time (in hours)<br>
                      Actual Value &#160;&#160;&#160;&#160;&#160;
                      {{project.Actual_Time_hours}}<br>
                      Planned Value &#160;&#160; {{project.Planned_Time_Hours}}
                    </span></label>
                </td>
                <td><progress id="file" value={{project.Revenue_currency}} max="10000"></progress>
                  {{project.Revenue_currency}}%</td>
                <td><progress id="file" value={{project.Cost_currency}} max="10000"></progress>
                  {{project.Cost_currency}}
                </td>
                <td><button
                    [ngStyle]="{'background-color':project.status === 'in-progress' ? '#37D9BF' : project.status === 'on Hold' ? '#F9DA7C' : '#97B5FA'}">
                    {{project.status}}</button></td>
                <span><img class="moreicon" src="../../../assets/icon/more.svg"></span>
            </tbody>
          </table>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>