<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>
  <app-side-nav (_selectedTab)="sideNavSelectedTab($event)"></app-side-nav>
  <ion-grid class="sidenav-header-container">
    <ion-row>
      <ion-col class="ion-align-self-start" size-xs='12' size-sm='6' size-md="4" size-lg="5" class="hov-label">
        <ion-label class="tab-left-title" (click)="openAlertModal()">{{selectedTabTitle}}</ion-label>
      </ion-col>
      <ion-col size-xs='12' size-sm='6' size-md="8" size-lg="7" *ngIf="selectedTabTitle == 'DashBoard'">
        <!-- <ion-buttons slot="secondary"> -->
        <ion-button fill="clear">
          <ion-icon name="open-outline" class="tab-right-icon"></ion-icon>
          <span class="tab-right-text">Open Fiori App</span>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="build-outline" class="tab-right-icon"></ion-icon>
          <span class="tab-right-text">Dashboard Customize</span>
        </ion-button>
        <ion-button fill="clear">
          <ion-icon name="pulse-outline" class="tab-right-icon"></ion-icon>
          <!-- <sup class="tab-right-count">9</sup> -->
          <span class="tab-right-text">Activities</span>
        </ion-button>
        <!-- </ion-buttons> -->
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="content-container">
    <ion-card *ngIf="selectedTabTitle == 'DashBoard'">
      <ion-card-header>
        <ion-card-subtitle class="dash-cont-title">Project Status Tracker
          <span class="con-icons">
            <ion-icon name="book-outline" class="con-icons-align"></ion-icon>
            <ion-icon name="reader-outline" class="con-icons-align"></ion-icon>
            <ion-icon name="search-outline" class="con-icons-align"></ion-icon>
          </span>
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>
</ion-content>