ion-content {
    --ion-background-color: transparent
      linear-gradient(251deg, #dfe3fa 0%, #e0eaf6 52%, #c3d9f6 100%) 0% 0%
      no-repeat padding-box;
      backdrop-filter: blur(3px);
  }
  
  .main-grid {
    height: 100%;
    padding: 3rem;
    ion-row {
      height: 100%;
      align-items: center;
    }
  }
  
  .btn {
    height: 30px;
    text-transform: none;
    --background: transparent
      linear-gradient(261deg, #00a4e0 0%, var(--unnamed-color-083a81) 100%) 0% 0%
      no-repeat padding-box;
    --background: transparent linear-gradient(261deg, #00a4e0 0%, #083a81 100%) 0%
      0% no-repeat padding-box;
    opacity: 1;
    font: var(--unnamed-font-style-normal) normal 600 14px/18px
      var(--unnamed-font-family-montserrat);
    text-align: center;
    font: normal normal 600 14px/18px "Montserrat";
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 12px;
    display: inline-block;
    width: 100%;
  }
  
  .form-design {
    text-align: center;
    padding-left: 4rem;
    h2 {
      color: var(--unnamed-color-083a81);
      text-align: center;
      font-size: 12px;
      letter-spacing: 2.2px;
      color: #083a81;
    }
    span {
      font: var(--unnamed-font-style-normal) normal
        var(--unnamed-font-weight-medium) 16px/32px
        var(--unnamed-font-family-montserrat);
      color: var(--unnamed-color-083a81);
      text-align: center;
      font-size: 12px;
      letter-spacing: 1.6px;
      color: #083a81;
    }
  
    .form-inputs {
      padding-bottom: 18px;
      --background: transparent;
      --inner-padding-start: 0 !important;
      --inner-padding-end: 0 !important;
      ion-label {
        font: var(--unnamed-font-style-normal) normal
          var(--unnamed-font-weight-medium) var(--unnamed-font-size-12) /
          var(--unnamed-line-spacing-12) var(--unnamed-font-family-montserrat);
        color: var(--unnamed-color-083a81);
        text-align: left;
        font: normal normal medium 12px/12px Montserrat;
        letter-spacing: 0.12px;
        color: #083a81;
        opacity: 1;
        margin: 8px;
        .item-native {
          padding-inline-start: 0;
          .item-inner {
            padding-inline-end: 0 !important;
          }
        }
      }
      ion-input {
        --background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 8px 16px #0000002c;
        border: 1px solid #ffffff;
        border-radius: 12px;
        opacity: 1;
        backdrop-filter: blur(13px);
        -webkit-backdrop-filter: blur(13px);
        box-shadow: none !important;
        font-size: small;
        .native-input {
          margin-left: 4px;
        }
      }
    }
    ion-item {
      --background: #ffffff;
    }
    .log-btn {
      height: 30px;
      text-transform: none;
      --background: transparent
        linear-gradient(261deg, #00a4e0 0%, var(--unnamed-color-083a81) 100%) 0%
        0% no-repeat padding-box;
      --background: transparent linear-gradient(261deg, #00a4e0 0%, #083a81 100%)
        0% 0% no-repeat padding-box;
      opacity: 1;
      font: var(--unnamed-font-style-normal) normal 600 14px/18px
        var(--unnamed-font-family-montserrat);
      text-align: center;
      font: normal normal 600 14px/18px Montserrat;
      letter-spacing: 0px;
      color: #ffffff;
      font-size: 12px;
      display: inline-block;
      width: 100%;
      margin-top: 14px;
    }
    .forget-pass {
      color: var(--unnamed-color-6a6a6a);
      text-align: center;
      font-size: 10px;
      letter-spacing: 0px;
      color: #6a6a6a;
      text-transform: capitalize;
      opacity: 1;
      --background: transparent;
    }
  }
  img {
    display: block;
    width: 100%;
    border-radius: 16px;
    height: 380px !important;
    object-fit: cover !important;
  }
  
  @media screen and (min-width: 200px) and (max-width: 575px) {
    .form-design {
      padding-left: 0rem;
    }
    img {
      height: 280px !important;
    }
  }
  