<div class="sidebar-container">
  <ion-grid>
    <ion-row class="row-container">
      <ion-col col-12 (click)="changeSideNav(0)">
        <div class="icon">
          <img src="../../../assets/icon/dashboard.svg" [ngClass]="{'selected-list':selectedData == 'dash'}">
        </div>
        <ion-label [ngClass]="selectedData == 'dash' ? 'selected-title' : 'title'">
          <span class="dash-alignment">Dashboard</span>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="row-container">
      <ion-col col-12>
        <div class="icon" (click)="changeSideNav(1)">
          <img src="../../../assets/icon/Management for menu.svg" [ngClass]="{'selected-list':selectedData == 'pm'}">
          <ion-label [ngClass]="selectedData == 'pm' ? 'selected-title' : 'title'"><span
              class="sub-title">Project</span> <br /><span class="sub-title-inner">Management</span></ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-container">
      <ion-col col-12>
        <div class="icon" (click)="changeSideNav(2)">
          <img src="../../../assets/icon/icon-offer.svg" [ngClass]="{'selected-list':selectedData == 'ofm'}">
          <ion-label [ngClass]="selectedData == 'ofm' ? 'selected-title' : 'title'"><span
              class="sub-title alignment">Offer</span> <br /><span class="sub-title-inner">Management</span></ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-container">
      <ion-col col-12>
        <div class="icon" (click)="changeSideNav(3)">
          <img src="../../../assets/icon/Order Management.svg" [ngClass]="{'selected-list':selectedData == 'om'}">
          <ion-label [ngClass]="selectedData == 'om' ? 'selected-title' : 'title'"><span
              class="sub-title alignment">Order</span> <br /><span class="sub-title-inner">Management</span></ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-container">
      <ion-col col-12>
        <div class="icon" (click)="changeSideNav(4)">
          <img src="../../../assets/icon/User Console Management.svg"
            [ngClass]="{'selected-list':selectedData == 'um'}">
          <ion-label [ngClass]="selectedData == 'um' ? 'selected-title' : 'title'"><span
              class="sub-title extra-alignment">User Management</span> <br /><span
              class="sub-title-inner inner-alignment">Console</span>
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row-container">
      <ion-col col-12 (click)="changeSideNav(5)">
        <div class="icon">
          <img src="../../../assets/icon/Library.svg" [ngClass]="{'selected-list':selectedData == 'lm'}">
          <ion-label [ngClass]="selectedData == 'lm' ? 'selected-title' : 'title'"><span
              class="sub-title">Library</span> <br /><span class="sub-title-inner">Management</span></ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>