.alert-class {
    --background: transparent linear-gradient(251deg, #E4E7F6 0%, #E0EAF6 52%, #C3D9F6 100%) 0% 0% no-repeat padding-box;
}
.dashboard-customize {
    --background: #EBEFFF 0% 0% no-repeat padding-box;
}
ion-content {
    --overflow: hidden;
    --box-shadow: 0px 16px 20px #0000001A;
    .alert-box {
        overflow: hidden;
        background: transparent linear-gradient(251deg, #E4E7F6 0%, #E0EAF6 52%, #C3D9F6 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 16px 20px #0000001A;
        .close-icon {
            float: right;
            position: relative;
            right: 6%;
            padding-top: 6%;
            width: 24px;
            height: 24px;
        }
        .close-icon:hover {
            cursor: pointer;
        }
        .title {
            width: auto;
            height: 100%;
            text-align: center;
            font-family: Montserrat;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #083A81;
            opacity: 1;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
        }
    }

    .button-container {
        position:absolute;
        bottom: 10%;
        right: 6%;
        button {
            font-family: Montserrat;
            font-weight: 600;
            background: transparent linear-gradient(248deg, #00A4E0 0%, var(--unnamed-color-083a81) 100%) 0% 0% no-repeat padding-box;
            background: transparent linear-gradient(248deg, #00A4E0 0%, #083A81 100%) 0% 0% no-repeat padding-box;
            border-radius: 15px;
            opacity: 1;
            color: white;
            width: 140px;
            height: 44px;
            margin-left: 10px;
            font-size: 14px;
            letter-spacing: 0px;
        }
    }
    
    .widget {
        .widget-close-icon {
            float: right;
            position: relative;
            right: 4%;
            padding-top: 4%;
            width: 24px;
            height: 24px;
        }
        .widget-close-icon:hover {
            cursor: pointer;
        }
        .widget-header {
            top: 12%;
            position: absolute;
            .widget-title {
                float: left;
                left: 17%;
                position: relative;
                width: 237px;
                height: 32px;
                font-family: Montserrat;
                font-size: 26px;
                font-weight: 600;
                letter-spacing: 2.6px;
                color: #083A81;
                opacity: 1;
            }
            .widget-reset {
                float: right;
                right: 7%;
                position: fixed;
                width: 122px;
                height: 15px;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 1.2px;
                color: #000000;
                opacity: 1;
                width: 144px;
                .reset-icon {
                    zoom: 0.8;
                    top: 38%;
                    position: relative;
                    margin-right: 3px;
                }
            }
            .widget-reset:hover {
                cursor: pointer;
            }
        }
        .widget-content-container {
            top: 20%;
            right: 7%;
            position: absolute;
            .widget-content {
                float: left;
                left: 3%;
                position: relative; 
                .card-main {
                    position: relative; 
                    width: 269px;
                    height: 82px;
                    overflow: initial;
                    --background: #EEF3FB 0% 0% no-repeat padding-box;
                    box-shadow: 0px 8px 16px #0000002C;
                    border: 1px solid #FFFFFF;
                    border-radius: 20px;
                    opacity: 1;
                    backdrop-filter: blur(13px);
                    -webkit-backdrop-filter: blur(13px);
                    .card-badge {
                        position: absolute;
                        top: -8%;
                        left: -10px;
                        width: 50px;
                        height: 50px;
                        background: #B0BFE4;
                        box-shadow: 0px 8px 16px #0000002C;
                        border-radius: 15px;
                        opacity: 1;
                        backdrop-filter: blur(13px);
                        -webkit-backdrop-filter: blur(13px);
                        img {
                            opacity: 1;
                            padding: 8px;
                            margin-left: -3px;
                        }
                    }
                    .widget-content-title-container {
                        padding: 28px; 
                        text-align:center;
                        font-family: Montserrat;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 1.6px;
                        color: #000000;
                        opacity: 1;
                    }
                  }
            }
        }
    }
}