ion-toolbar {
    --ion-background-color: transparent
      linear-gradient(251deg, #dfe3fa 0%, #e0eaf6 52%, #c3d9f6 100%) 0% 0%
      no-repeat padding-box;
      backdrop-filter: blur(3px);
}

.header {
    overflow: hidden;
    padding: 20px 10px;
  }

  .header-right {
    float: right;
    margin-top: -30px;
  }
