<div class="header">
  <ion-grid>
    <ion-row>
      <ion-col size="7">
        <img src="..\assets\images\Logo.svg" style="margin-left: 2%;">
      </ion-col>
      <ion-col size="3" style="text-align: end;">
        <img src="../../../assets/images/icon-Search.svg" class="source">
        <img src="../../../assets/images/Help.svg" class="source">
        <img src="../../../assets/images/bell.svg" class="source">
        <img src="../../../assets/images/Settings.svg" class="source">
      </ion-col>
      <ion-col size="1" style="text-align: end; ">
        <ion-label class="name">Hello John!</ion-label><br>
        <ion-label class="subname">Line Manager</ion-label>
      </ion-col>
      <ion-col size="1">
        <img src="..\assets\images\img_avatar.png" class="profile">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>