<div class="header">
  <ion-title style="color: #083A81;font-size: 26px;letter-spacing: 1px;">tec.nicum</ion-title>
  <div class="header-right">
    <ion-buttons slot="secondary">      
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>   
      <ion-button>
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
   
  
      <div class="row">
        Hello Npk ! <br> Line Manager
      </div>
    
      <div style="width: 30px;">
        <img src="..\assets\images\profile.png">
      </div>
    </ion-buttons>
  </div>
</div>
